<p> Signed in as <%= session[:username]%>!</p>

<h3>Contacts:</h3>

<ul>
  <% session[:contact_list].display_contacts.each_with_index do |item, idx| %>
    <% item[1][:details].each_pair do |key, val| %>
      <li><%= display_key(key) %>: <%= display_value(val) %></li>
    <% end %>
    <form method='post' action='/contact/edit'>
      <button type='submit'>Edit Contact</button>
    </form>
    <form method='post' action='/contact/delete'>
      <button type='submit'>Delete Contact</button>
    </form>
    <br/>
  <% end %>
</ul>

<p><a href='/new'>Create new contact</a></p>

<form method='post' action='/users/logout'>
  <button type='submit'>Log Out</button>
</form>
