<!doctype html>
<html lang="en-US">
  <title><%= session[:username] %> Contact Book App</title>
  <link rel="icon" href="favicon.ico">

  <body>
    <header>
      <h1>Contact Book Application</h1>
      <p><i><%= session.delete(:message) %></i></p>
      <%= yield_content :home_banner %>
    </header>
    <%= yield %>
  </body>
</html>