<!doctype html>
<html lang="en-US">
  <title>A Sinatra Contact Book App</title>
  <link rel="icon" href="favicon.ico">

  <body>
    <header>
      <h1>Contact Book</h1>
      <%= session.delete(:message) %>
      <%= yield_content :home_banner %>
    </header>
    <%= yield %>
  </body>
</html>