<form method='post' action='/new'>
  <h3>Add new contact</h3>
  <div>
    <p><input name='name' value='Name'/></p>
    <p><input name='phone_num' value='Phone Number'/></p>
    <p><input name='address' value='Address'/></p>
    <p><input name='categories' value='Categories'/></p>
    <button type='submit'>Create contact</button>
  </div>
</form>